@use "@/app/mixins.scss";

.page {
    display: flex;
    padding: var(--page-padding);
    flex-direction: column;
    gap: var(--element-spacing);
    width: 100%;
    max-width: 100%;
}

.spotlight {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--green);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);

    h2 {
        color: var(--white);
    }
}

.spotlightElements {
    display: flex;
    gap: 24px;

    h3 {
        line-height: 200%;
    }
}

.spotlightElement {
    background-color: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}

.services {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--matcha);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);

    h2 {
        color: var(--green);
    }
}