:root {
    // primary colors
    --green: #2E6C4A;
    --light-green: #0C9D4E;
    --white: #FAFAFA;
    --black: #323232;
    
    //secondary colors
    --dark-grey: #6B6B6B;
    --grey: #D0D0D0;
    --light-grey: #F1F1F1;
    --hover-bg: #989898;

    // pi chart colors
    --matcha: #CCD5AE;
    --beige: #E9EDC9;
    --cornsilk: #FEFAE0;
    --papaya: #FAEDCD;
    --brown: #D4A373;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
